.danmu-content {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    /* overflow: hidden; */
    z-index: -1;
}

.danmu-content  .rolling-danmuku {
    position: absolute;
    white-space: nowrap;
    font-size: 20px;
    opacity: 0.8;
}


.dynamic-letters {
    background-color: #eee;
}

.static-danmuku {
    position: absolute;
    font-size: 20px;
    white-space: nowrap;
}

.static-danmuku .strong{
    color: #777;
    font-weight: bold;
    padding: auto;
}


.captain-info {
    margin: 0 auto;
    width: fit-content;
    padding: 5px;
    font-size: 28px;
    line-height: 1.5;
}

.captain-info span:nth-child(1) {
    text-shadow: 0 0 15px #22292C60;
}

.captain-info span:nth-child(2) {
    text-shadow: 0 0 10px rgba(255, 209, 23, 0.8);
    font-weight: bold;
    padding: 5px 10px;
}

.test {
    color: #ff6384 
}

.s6-cc {
    padding-bottom: 50px;
}